:root{

    /* Colours */
    --main-bg-color: #1a1a1d;
    --main-text-color: #ffffff;
    --main-secondary-bg-color: #f6f6f6fb;
    --accent-color: #DA4167;
    /* Spacing */
    --main-top-margin-spacing: 160px;
    --main-botttom-margin-spacing: 160px;
}


* {
font-family: 'Roboto', Helvetica,  sans-serif;text-decoration: none;
}
body{
   
    background-color: var(--main-bg-color, #1a1a1d);
    color: var(--main-text-color, #ffffff);
}

/* NAV BAR CSS */

.navigation-bar{
    background-color: var(--main-secondary-bg-color);
    font-size: 18px;
}


.main-article {
    margin-top: 100px;
}

.navbar-brand a{
    color:var(--main-bg-color);
}

.nav-item-box a {
    color:var(--main-bg-color);
}

.nav-item-box a:hover {
    color:var(--accent-color);
}
/* *** Mobile menu items *** */

@media (max-width: 985px) {
    .nav-item-box {
      /*   border: solid 1px gray; */
      border-radius: 10px;
        overflow:hidden;
    }
   
    .nav-item-box a:focus {
     
        border:#044e72 solid 2px;
        border-radius: 10px;
        color: #044e72; 
        background-color: #bdbdbd;
    }  
    
    .nav-item-box a:active{
        border-radius: 10px;
        color: #044e72; 
        border:#13b0fd solid 2px;
    }
    .nav-item-box a:hover{
    background-color: #bdbdbd;
    }
    .nav-item-box-focus{
        border-radius: 10px;
        background-color: #ccc;
    }  
}



/* Remove hamburger menu outline */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


/* ABOUT ME SECTION */

.about-section {
    margin-top: var(--main-top-margin-spacing);
    margin-bottom: var(--main-botttom-margin-spacing);
}


/* POST GRID SECTION */

.post-grid{
    margin-top: var(--main-top-margin-spacing);
    margin-bottom: var(--main-botttom-margin-spacing);
}


/*====== INDEX PAGE====== */

/* *** HERO SECTION *** */

.hero-title h1{
    font-size: 56px;
    font-weight: 700;
}

.hero-title p{
    font-size: 18px;
    font-weight: 500;
}

/* *** BLOG SECTION *** */

.overlay-image{

}

/*====== BLOG PAGE ====== */

/* *** CODE BOX *** */
.code-snippet {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0;
  }
  
  .code-snippet pre {
    margin: 0;
  }

/* *** TEXT STYLE *** */
.main-article p {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 28px;
}
.main-article h1 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.callout {
    background-color: #383838;
    padding: 1rem;
    border: #b5b5b5 solid 1px;
    border-radius: 10px;
    margin-bottom: 32px;
}


.callout a{
color: #f0f0f0;
}

.callout a:hover{
    color: #8dd9f6;
    }

.common-errors {
    margin-bottom: 64px;
}
