:root{

    /* Colours */
    --main-bg-color: #1a1a1d;
    --main-text-color: #ffffff;
    --main-secondary-bg-color: #f6f6f6fb;

    /* Spacing */
    --main-top-margin-spacing: 160px;
    --main-botttom-margin-spacing: 160px;
}


* {
font-family: 'Roboto', Helvetica,  sans-serif;text-decoration: none;
}
body{
   
    background-color: var(--main-bg-color, #1a1a1d);
    color: var(--main-text-color, #ffffff);
}

/* NAV BAR CSS */

.navigation-bar{
    background-color: var(--main-secondary-bg-color);
}


.main-article {
    margin-top: 100px;
}

/* ABOUT ME SECTION */

.about-section {
    margin-top: var(--main-top-margin-spacing);
    margin-bottom: var(--main-botttom-margin-spacing);
}


/* POST GRID SECTION */

.post-grid{
    margin-top: var(--main-top-margin-spacing);
    margin-bottom: var(--main-botttom-margin-spacing);
}


/*====== INDEX PAGE====== */

/* *** HERO SECTION *** */

.hero-title h1{
    font-size: 56px;
    font-weight: 700;
}

.hero-title p{
    font-size: 18px;
    font-weight: 500;
}

/* *** BLOG SECTION *** */

.overlay-image{

}

/*====== BLOG PAGE ====== */

/* *** CODE BOX *** */
.code-snippet {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0;
  }
  
  .code-snippet pre {
    margin: 0;
  }

/* *** TEXT STYLE *** */
.main-article p {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 28px;
}
.main-article h1 {
    margin-bottom: 32px;
    margin-top: 32px;
}

.callout {
    background-color: #383838;
    padding: 1rem;
    border: #b5b5b5 solid 1px;
    border-radius: 10px;
    margin-bottom: 32px;
}


.callout a{
color: #f0f0f0;
}

.callout a:hover{
    color: #8dd9f6;
    }

.common-errors {
    margin-bottom: 64px;
}
