---
title: A eleventy about page
layout: base.njk
---
 
    <div class="container about-section p-0">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-7 about-text-body">
        <Span class="subheading">About the</Span>
        <h1 class="mb-4" >Blog</h1>
         <p>At DBlog, our mission is to be your go-to spot for exploring modern web development, with a central focus on JAMstack principles, showcasing how these principles can make your websites faster, more secure, and easier to manage, and other web development tips. We're committed to unravelling the intricate world of JavaScript, APIs, and Markup, in order to help spread awareness of this web development approach. 
         </p>   
         <p class="mb-5 pb-5">From the versatility of 11ty to the sleekness of Bootstrap, the power of Node.js, and the dynamic world of React – our goal is to provide you with clear, actionable insights that empower you to craft cutting-edge websites. And yes, we like to sprinkle in a touch of humour to make learning even more enjoyable. Join us on this immersive journey into the realm of JAMstack and beyond, where we turn complex concepts into practical knowledge. It's time to embark on a development adventure that will transform the way you perceive and create websites.</p>
         <Span class="subheading">Discover the</Span>
         <h1 class="mb-4" >Author</h1>
         <p>Hello there! I'm Dovydas Balionis, a web developer. I love learning the ins and outs of the platform and creating amazing websites along the way. This blog is my platform to share my software development journey. I write about what I learn, whether it's the latest coding techniques, captivating web design concepts, or industry trends.</p>
       
         <p>I started in the deep end, with my first full website being a custom WordPress e-commerce automotive paint store. From there, I completed a great code bootcamp at Coder's Guild, where I learned and started developing websites using Bootstrap, Node.js, 11ty, and pipelining to Netlify. This very blog is built using this tech stack. I'm currently hitting the books on React and Next.js to expand my front-end knowledge, so look out for blog posts related to them!</p>
         </div>
        
         <div class="col-12 col-lg-6 col-xl-5">
            <div class="gallery">
                 
                </figure>  <figure class="gallery__item gallery__item--1">
                       <img src="../assets/images/server-back-600.webp" class="gallery__img" alt="Image of back of a server">
                </figure>
                  <figure class="gallery__item gallery__item--2">
                       <img src="../assets/images/git-log-cap-500.webp" class="gallery__img" alt="Image of git log history tree">
                </figure>
               <figure class="gallery__item gallery__item--3">
                       <img src="../assets/images/laptop-IDE-850.webp" class="gallery__img" alt="Image of a laptop screen with open IDE">
                 
               
            </div>
         </div>
         </div>
    </div>