---
title: A eleventy about page
layout: base.njk
---
 
    <div class="container about-section p-0">
        <div class="row">
            <div class="col">
        <h1>Testing Eleventy second page</h1>
         <p>Going well, but annoying html emmet dont work in njk file</p>
         </div>
         <div class="col"></div>
         </div>
    </div>