---
title: A eleventy about page
layout: base.njk
---
 
    <div class="container">
        <h1>Testing Eleventy second page</h1>
         <p>Going well, but annoying html emmet dont work in njk file</p>
    </div>