    <nav class="navbar navbar-expand-lg   navigation-bar" role="navigation">
  <div class="container">
   {#  DevStack Delights #}
    <a class="navbar-brand" href="{{ '/' | url }}"> DBlog<img class="ms-2" src="../assets/images/portfavcon-coder-blog.png" style="width:25px; height:25px;"alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav py-2 py-lg-0 ">
        <li class="nav-item  my-1 py-lg-0 nav-item-box">
          <a class="nav-link" aria-current="page" href="/"><i class="bi bi-house-fill d-lg-none px-2 "></i>Home</a>
        </li>
        <li class="nav-item  my-1 py-lg-0 nav-item-box">
          <a class="nav-link " href="/about/"><i class="bi bi-info-square-fill  d-lg-none  px-2 "></i>About</a>
        </li>
        <li class="nav-item  my-1 py-lg-0 nav-item-box">
          <a class="nav-link" href="https://dovydasbalionis.co.uk" ><i class="bi bi-grid-1x2-fill d-lg-none  px-2"></i>Portfolio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>